@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 2px 0;
    background-color: #0040ff;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    font-family: "Pacifico";
    transition: all 0.3s ease;
}

.navbar .logo a span {
    color: #0040ff;
}

.navbar.sticky .logo a span {
    color: white;
}

.navbar.sticky .logo a:hover,
.navbar.sticky .logo a span:hover {
    color: black;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #0040ff;
}

.navbar.sticky .menu li a:hover {
    color: #000;
}

.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }

  .home {
    display: flex;
    background: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?cs=srgb&dl=pexels-neo-2653362.jpg&fm=jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
  }
  .home .max-width {
    margin: auto 0 auto 40px;
  }
  .home .home-content .text-1 {
    font-size: 27px;
  }
  .home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  .home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
  }
  .home .home-content .text-3 span {
    font-weight: 500;
    color: #0040ff;
  }
  .home .home-content a {
    display: inline-block;
    background: #0040ff;
    color: #fff;
    font-size: 25px;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0040ff;
    transition: all 0.3s ease;
  }
  .home .home-content .web {
    margin-right: 25px;
  }
  
  .home .home-content a:hover {
    color: white;
    background: #000;
  }
  
  section {
    padding: 100px 0;
  }
  .about,
  .skills,
  .projects,
  .contact,
  footer {
    font-family: "Poppins", sans-serif;
  }
  .about .about-content,
  .skills .skills-content,
  .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
  }
  section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #0084ff;
    transform: translateX(-50%);
  }
  section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: #2c5dee;
    background: #111;
    transform: translateX(-50%);
  }

  .skills, .about,
.contact {
  background: #111;
  color: #fff;
}
.skills .title::before,
.contact .title::before {
  background: #fff;
}

  .about .title::after {
    content: "Kdo/co jsem";
  }
  
  .about .about-content .left {
    width: 45%;
  }
  .about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 40px 0px 40px 0px;
  }
  .about .about-content .right {
    width: 55%;
  }
  .about .about-content .right .text {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .about .about-content .right .text span {
    color: #0040ff;
  }
  .about .about-content .right p {
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 1px;
  }
  .about .about-content .right a {
    display: inline-block;
    background: #0040ff;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 3px 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0040ff;
    transition: all 0.3s ease;
  }
  .about .about-content .right a:hover {
    color: #0040ff;
    background: none;
  }

  